.mdl_header{
    background-color:black;
}

.mdl_title{
    color:white;
}
.mdl_body{
    background-color:#ccccb3;
    
}

.mdl_footer{
    background-color:#f5f5f0;
}

.mdl_x_button{
    color:white;
}

